pandas
featurewiz
logzero
matplotlib
mlxtend
numpy
shap
pycaret
PyYAML
scikit_learn
scipy
seaborn
xgboost
streamlit
protobuf
joblib
fastapi
uvicorn[standard]
papermill
flask
uvicorn==0.14.0
fastapi==0.68.0